In [52]:
pip install topsis-pushkar-manocha-102303751

Requirement already satisfied: topsis-pushkar-manocha-102303751 in c:\users\pushk\appdata\local\programs\python\python312\lib\site-packages (1.0.1)
Requirement already satisfied: numpy in c:\users\pushk\appdata\local\programs\python\python312\lib\site-packages (from topsis-pushkar-manocha-102303751) (2.4.1)
Requirement already satisfied: pandas in c:\users\pushk\appdata\local\programs\python\python312\lib\site-packages (from topsis-pushkar-manocha-102303751) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pushk\appdata\roaming\python\python312\site-packages (from pandas->topsis-pushkar-manocha-102303751) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pushk\appdata\local\programs\python\python312\lib\site-packages (from pandas->topsis-pushkar-manocha-102303751) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pushk\appdata\local\programs\python\python312\lib\site-packages (from pandas->topsis-pushkar-manocha-102303751) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\pushk\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas->topsis-pushkar-manocha-102303751) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [53]:
import pandas as pd

data = {
    "P1": [0.84, 0.91, 0.79, 0.78, 0.94, 0.88, 0.66, 0.93],
    "P2": [0.71, 0.83, 0.62, 0.61, 0.88, 0.77, 0.44, 0.86],
    "P3": [6.7, 7, 4.8, 6.4, 3.6, 6.5, 5.3, 3.4],
    "P4": [42.1, 31.7, 46.7, 42.4, 62.2, 51.5, 48.9, 37],
    "P5": [12.59, 10.11, 13.23, 12.55, 16.91, 14.91, 13.83, 10.55]
}

df = pd.DataFrame(data)
df.to_csv("input.csv", index=False)

df

     P1    P2   P3    P4     P5
0  0.84  0.71  6.7  42.1  12.59
1  0.91  0.83  7.0  31.7  10.11
2  0.79  0.62  4.8  46.7  13.23
3  0.78  0.61  6.4  42.4  12.55
4  0.94  0.88  3.6  62.2  16.91
5  0.88  0.77  6.5  51.5  14.91
6  0.66  0.44  5.3  48.9  13.83
7  0.93  0.86  3.4  37.0  10.55

In [54]:
!topsis-pushkar-manocha-102303751 input.csv "1,1,1,1,1" "+,+,-,+,+" output.csv

 Error: Expected 4 weights, got 5.

In [55]:
out = pd.read_csv("output.csv")
out

     P1    P2   P3    P4     P5  Topsis Score (102303751)  Rank (102303751)
0  0.84  0.71  6.7  42.1  12.59                  0.644839                 2
1  0.91  0.83  7.0  31.7  10.11                  0.672750                 1
2  0.79  0.62  4.8  46.7  13.23                  0.442269                 7
3  0.78  0.61  6.4  42.4  12.55                  0.572518                 4
4  0.94  0.88  3.6  62.2  16.91                  0.469586                 6
5  0.88  0.77  6.5  51.5  14.91                  0.630917                 3
6  0.66  0.44  5.3  48.9  13.83                  0.394819                 8
7  0.93  0.86  3.4  37.0  10.55                  0.495474                 5